/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200..900&family=Source+Sans+Pro:wght@200..900&family=Overpass:wght@200..900&family=Rubik:wght@300..900&family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* Icon Styles */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined.md-1 { font-size: 1rem }
.material-symbols-outlined.md-2 { font-size: 2rem }
.material-symbols-outlined.md-3 { font-size: 3rem }

.material-symbols-outlined.red-circle {
  background-color: var(--accent-color);
  border-radius: 50%;
  padding: 0.1em;
  color: white;
  margin: 0.3em;
}

/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --main-color: #0e3463;
  --accent-color: #df0000;
  --content-gap: clamp(1rem, 4vw, 3rem);
  --background-color: #ebf4ff;
}

html {
  font-size: 18px;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

body {
  /* background-image: linear-gradient(150deg,rgb(255,255,255) 31%,rgb(214,233,255) 100%); */
  background-repeat: no-repeat;
  color: #3a3a3a;
  background-color: var(--background-color);
}

.bgd-red {
  background-color: #e6d3d3;
}

.bgd-blue {
  background-color: #c9d9ec ;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-family: Rubik, Arial, sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: Montserrat, Arial, sans-serif;
}


h2, h3, h4, h5, h6, p, ul {
  margin-bottom: 0.5em;
  line-height: 1.5;
}

ul {
  list-style-position: inside;
  list-style-type: circle;
}

.nowrap {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.text-bigger {
  font-size: larger;
}

.text-smaller {
  font-size: smaller;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
}

.rounded {
  border-radius: 0.5rem;
}

.margin-h1 {
  margin: 1rem 0;
}

.button {
  display: block;
  text-align: center;
  background: linear-gradient(hsl(0deg 100% 54%), hsl(0 100% 34% / 1));
  color: white;
  text-decoration: none;
  padding: 0.3em 1em;
  font-weight: bold;
  max-width: 120px;
  margin: 1rem auto;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 6px rgb(0 0 0 / 75%);
  border: 1px solid;
  transition: all 0.5s;
}

/* Header Styles */
.banner {
  color: var(--main-color);
  background-color: #fff;
  box-shadow: 0 2px 10px rgb(0 0 0 / 75%);
  position: sticky;
  top: 0;
  z-index: 1;
}

.banner .wrapper, footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.driver-tag {
  font-family: montserrat, sans-serif;
  font-size: 0.8rem;
  position: absolute;
  background-color: var(--accent-color);
  color: #fff;
  padding: 0 1em;
  top: 0;
  right: 1.5rem;
}

.masthead h1 {
  font-size: 3rem;
  font-weight: 900;
  white-space: nowrap;
}

.red-dot {
  width: 0.3em;
  height: 0.3em;
  display:inline-block;
  border-radius: 50%;
  background-color: var(--accent-color);
  margin: 0 0 -0.1em -0.1em;
}

.masthead p {
  text-align: center;
  font-family: montserrat, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.1em;
}

/* Navigation Styles */
nav li {
  display: inline-block;
  margin: 0 0.5rem;
  font-weight: 600;
}

/* Hero Styles */
.hero {
  max-height: 600px;
  position: relative;
  overflow: hidden;
}

.hero img {
  max-height: inherit;
  width: 100%;
  object-fit: cover;
  animation: grow 30s linear infinite;
}

.hero-title {
  position: absolute;
  bottom: 30%;
  font-size: clamp(1.25rem, 4vw, 50px);
  left: 10vw;
  color: #fff;
  height: max-content;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.5);
  outline: 0.1em solid;
  outline-offset: -0.2em;
}

.burst p {
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  background: url('../images/sale-star.svg') no-repeat center;
  padding: 1em;
  margin: -1em;
  line-height: 1;
  font-family: montserrat, arial, sans-serif;
}

.hero .burst {
  position: absolute;
  top: 20%;
  right: 10vw;
  font-size: clamp(1rem, 2.5vw, 40px);
}


@keyframes grow {
  0% {
    transform: scale(1);
  }
  97% {
    filter: brightness(1);
  }
  100% {
    transform: scale(2);
    filter: brightness(2);
  }
}

/* Contents Styles */
#primary {
  grid-area: content;
}

#secondary {
  max-width: 500px;
  grid-area: sidebar;
}

.sidebar-left {
  display: grid;
  grid-template-columns: minmax(220px, 25%) 1fr;
  grid-template-areas:
  "sidebar content"
  "below below";
  gap: var(--content-gap);
  justify-items: center;
}

.sticky-sidebar {
  position: sticky;
  top: 150px;
}

@media screen and (max-width: 990px) {
  .sidebar-left {
    grid-template-areas:
    "content content"
    "sidebar sidebar"
    "below below";
  }
}

.container {
  background-color: white;
  padding: max(1rem, 5%);
  color: var(--main-color);
  margin-bottom: var(--content-gap);
}

.intro {
  /* font-size: clamp(1em, 2vw, 1.3em); */
  margin: 0 auto;
  max-width: 700px;
}

.intro h2 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.3;
}

.intro p {
  font-weight: 500;
  margin-bottom: 1em;
  font-family: Montserrat, Arial, sans-serif;
}

.ribbon {
  color: #fff;
  background-color: var(--main-color);
  padding: 0.1em 0.5em;
  line-height: 1.7;
  letter-spacing: 1px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.col-2, .col-3 {
  display: grid;
  gap: 1rem;
}

.col-2 {
  grid-template-columns: 1fr 1fr;
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.cta-container {
  display: flex;
  justify-content: center;
  gap: var(--content-gap);
  flex-wrap: wrap;
  margin: calc(var(--content-gap) * 1.5) 0;
}

.cta-box {
  flex: 180px;
  max-width: 300px;
  text-align: center;
}

.cta-box h2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.cta-box p {
  font-size: 0.9em;
}

.pillbox {
  padding: 1rem;
  border-radius: 20px;
  background-color: white;
  color: var(--main-color);
  box-shadow: inset -5px -5px 20px rgb(0 0 0 /20%);
  filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 50%));
}

.popbox {
  background-color: #fff;
  color: var(--main-color);
  padding: 1rem;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 20%);
}

ul.checklist {
  list-style-type: none;
  padding: 0.5em;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
}

.checklist li {
  padding-left: 1.5rem;
  background-image: url('../images/check-green.svg');
  background-size: 0.8em;
  background-repeat: no-repeat;
  background-position: 0 50%;
  margin-bottom: 0.5em;
  flex: 230px;
}

.checklist li.xmark {
  background-image: url('../images/xmark-red.svg');
}


.partners {
  grid-area: below;
  display: flex;
  flex-wrap: wrap;
  gap: var(--content-gap);
  justify-content: center;
  padding-bottom: calc(var(--content-gap) - 1rem);
}

.partners figure {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 75%);
  transition: all 0.5s;
  max-width: 100px;
}

.partners figure:hover, .button:hover {
  box-shadow: none;
  cursor: pointer;
}

.partners figure:before {
  position: absolute;
  content: '';
  background: radial-gradient(circle at 40% 40%, transparent 40%, rgb(0 0 0 / 30%) 100%);
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.partners figure.dark:before {
  background: radial-gradient(circle at 60% 60%, transparent 40%, rgb(255 255 255 / 70%) 100%);
}

.partners img {
  border-radius: inherit;
}

/* footer styles */
footer {
  background-color: var(--main-color);
  color: #fff
}

.social {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
}

.social img {
  height: 1.5rem;
}

.social img[src$="hbc-logo.svg"] {
  height:2rem;
}